.tiptap  {
  min-height: unset;
  p {
    margin: 0 0;
  }


}

.tiptap .fullHeight {
  height: 100%
}

.ProseMirror {
  min-height: min(50vh, 500px);
  &.mid-height {
    min-height: 20px;
  }
  &:focus {
    outline: none;
  }
  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  .mention {
    background: #eef4ff;
    color: #004ce6;
  }
}

.ProseMirror-focused {

}
